<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <title>Lista de Proyectos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="img/img1.png" type="image/x-icon">
</head>

<body>
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="text-center mb-3">Lista de Proyectos</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Título del Proyecto</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Nombre del Estudiante</th>
                            <th scope="col">Link del Trabajo</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="proyecto : ${trabajos}">
                            <td th:text="${proyecto.titulo}"></td>
                            <td th:text="${proyecto.descripcion}"></td>
                            <td th:text="${proyecto.idEstudiante.nombre}"></td>
                            <td><a th:href="${proyecto.link}" target="_blank" th:text="${proyecto.link}"></a></td>
                            <td th:text="${proyecto.estadoEvaluador}"></td>
                            <td>
                                <form th:action="@{/aprobarReprobarProyectoEvaluador}" method="post">
                                    <input type="hidden" name="idProyecto" th:value="${proyecto.id}" />
                                    <input type="hidden" name="accion" value="aprobar" />
                                    <button type="submit" class="btn btn-success">Aprobar</button>
                                </form>
                                <form th:action="@{/aprobarReprobarProyectoEvaluador}" method="post">
                                    <input type="hidden" name="idProyecto" th:value="${proyecto.id}" />
                                    <input type="hidden" name="accion" value="reprobar" />
                                    <button type="submit" class="btn btn-danger">Reprobar</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a th:href="@{/}" class="btn btn-primary mt-3">Volver</a>
            </div>
        </div>
    </div>
    <br>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-5lKLE+Q9iZK3oHakxjJ9jv1IYpDJoEujgTmx9YoRWQHTomz9flp6qFbVyBhZHpws"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCk5KVYm1c+8fBhsitF0kg2rs0kPvF6Yg4fF"
        crossorigin="anonymous"></script>
</body>

</html>
